{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_user_index') }}">back to list</a>
    <h1 class="mt-5">User</h1>

    <table class="table text-light font-martel bg-grey-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary btn-width-fixe" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>
    </div>

{% endblock %}
